<ul class="list-group">
  <div class="page-header"><h2>Options</h2></div>
  <li class="list-group-item"><%= link_to 'Create new Team', new_cricket_team_path, remote: true%></li>
  <li class="list-group-item"> <%= link_to 'Teams Listing', cricket_teams_path, remote: true%></li>
  <li class="list-group-item"><%= link_to 'Create new Player', new_player_path, remote: true%></li>
  <li class="list-group-item"> <%= link_to 'Players Listing', players_path, remote: true%></li>
 </ul>
