
.menu {
  
  text-align: center;
  margin-top: 100px;
}

ul li{
  font-size: 20px;
  list-style: none;
  padding: 10px;  
}

.menu table {
  margin:0 auto;
}

table td {
  padding: 15px;
  font-size: 20px;
}