* {
  margin : 0;
  padding: 0;
}

body h1,h2,h3,h4,h5,h6 {
  letter-spacing: 2px;
}

div.container-fluid {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.header {
  background-image: url("../img/provider-landing-header.png");
  height: 425px;
}

div.logo-div span {
  color: #B7878F;
  padding-left: 40px;
  position : relative;
  top: 10px;
}

.img-text {
  color: #fff;
  font-size: 50px;
  font-weight: 300;
  padding-right: 40px;
}

.content-div {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.19);
}

button.black-btn {
  padding-left: 3px;
  background-color: #000;
  opacity: 0.7;
  color: #fff;
  border : 1px solid #fff ;
  position: relative;
  left: 5px;
}

.bottom-header {
  padding-left: 25px;
  padding-right: 15px;
}

h1.img-text {
  padding-top: 100px;
}

h5.img-text {
  font-size: 20px;
}

h2.flex-head {
  font-weight: 400;
  text-align: center;
}

.flex-area {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  margin-top: 40px;
  border: 1px solid #cdcdcd;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height : 650px;
  width: 98%;
}

.flex-head {
  margin-top: 40px;
}

.highlighted {
  height: 680px;
  position: relative;
  top: -30px;
  border: 2px solid #000099;
  box-shadow : 0 0 15px #898989;
}

div.flex h2 {
  font-weight: 200;
  font-size: 32px;
  margin: 30px 25px auto 25px;
}

div.highlighted h2 {
  margin-top: 60px ;
  margin- left: 25px;
}

div.flex ul, a {
  font-size: 13px;
  font-weight : 200;
  letter-spacing: 0.6px;
  padding-left : 40px;
  padding-right : 10px;
  padding-top: 25px;
} 

div.flex ul li {
  padding-bottom: 10px;
  padding-top: 8px;
}

.flex-blue {
  width: 100%;
  height: 350px;
  background-color: #197DC2;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 98%;
  padding: 0 20px;
  font-weight : 200;
  letter-spacing: 0.6px;
  color: #A8CEE6;  
}

.flex-blue-highlighted {
  height: 355px;
  background-color: #006AA4;
  position: relative;
  top: -30px;
  box-shadow : 0 0 15px #898989;
  color: #fff;
}

.superhero-right {
  position: absolute;
  left: 84px;
}

div.flex-blue h2{
  font-size: 32px;
  margin-top: 0;
  padding-top: 10px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}

div.flex-blue h3 {
  font-weight: 200;
  margin-top: 0;
  text-align: center;
  padding-top: 0;
  color: #31A4E2;
  font-size: 20px;
  position: relative;
  top: -3px;
}

div.flex-blue img {
  margin: 20px auto 20px 35px;
}

.left {
  float: left;
  width: 200px;
}

.right {
  float : right;
}

.clear {
  clear: both;
}

div.flex-blue hr {
  margin-bottom: 10px;
  margin-top: 10px;
}

div.flex-blue p {
  color: #62a6d5;
  font-size: 12px;
  margin-top: 20px;
}

.small-line {
  letter-spacing: 0.4px;
  text-align: center;
  font-weight: 200;
}

div.small-line p span {
  font-weight: 500;
  font-size: 13px;
}

div.used-by-header h4 {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}

div.used-by hr {
  margin-top: 10px;
}

div.used-by ul {
  color: #898989;
}

div.used-by ul li {
  float: left;
  padding-left: 30px;
  padding-right: 35px;
}

div.div-get-dis h2 {
  margin-top: 80px;
  font-weight: 200;
  text-align: center;
  color: #197dc2;
  font-size: 40px;
}

div.div-get-dis h4 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

div.col-md-5 ul li{
  padding-top: 10px;
  padding-bottom: 10px;
}

div.col-md-5 ul li p{
  text-align: left;
}

.listings {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

div.col-md-6 image {
  margin-top: 30px;
}

div.div-get-dis p {
  padding-bottom: 20px;
  color: #565656;
  font-size: 13px;
  letter-spacing: 0.6px;
  text-align: center;
  font-weight: 200;
  line-height: 1.3;
}

div.div-get-dis button {
  width: 24%;
  margin-left: 38%;
  margin-bottom: 40px;
}

.small-div {
  margin: 20px auto 30px auto;
  color: #565656;
  font-size: 13px;
  width: 530px;
  letter-spacing: 0.6px;
  text-align: center;
  font-weight: 200;
  line-height: 1.3;
}

ul li {
  list-style: none;
}

div.flex ul li:before {    
 font-family: 'FontAwesome';
 content: '\f00c';
 margin:0 5px 0 -18px;
 color: rgb(25,125,194);
}

div.highlighted ul li:before {    
 font-family: 'FontAwesome';
 content: '\f00c';
 margin:0 5px 0 -18px;
 color: rgb(247,147,33);
}

div.flex-blue image {
  position: relative;
  left:50px;
}

.txt-align {
  text-align: center;
}

.border-bottom {
  border-bottom: 1px solid #ababab;
}

.border-right {
  border-right: 1px solid #ababab;
}

.assign-padding {
  padding: 30px;
}

.blue-striped {
  background-image: url("../img/blue-strip-bg.png");
  height: 1110px;
  padding-top: 2px;
}

.superhero-logo {
  position: absolute;
  left: 1055px;
}

.image-box {
  width: 372px;
  margin-left: auto;
  margin-right: auto;
  position:  relative;
  top: -30px;
}

.provide-size {
  height: 60px;
  width: 60px;
  border: 3px solid #ababab;
  margin-left: 15px;
  margin-right: 15px;
}

.form-box {
  background-image: url("../img/form-bg.jpg");
  height: 1000px;
}

.quote-box {
  width: 50%;
  margin: 20px auto 40px auto;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.after-image h5,h6 {
  text-align: center;
  margin top: 30px;
}

.form-white-box {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: #fff;
  height: 850px;
  border-radius: 5px;
  padding: 50px;
}

div.form-box h2 {
  padding-top: 50px;
  color: #fff;
  font-weight: 200;
  text-align: center;
}

div.form-box h4 {
  color: #fff;
  font-weight: 200;
  letter-spacing: 0.9px;
  text-align: center;
  font-size: 17px;
  padding-bottom: 25px;
}

.orange-star {
  color: #ffa500;
  padding-left: 3px;
  align: center;
}

.star-div {
  width: 15%;
  margin-left: auto;
  margin-right: auto;
}

button.orange-btn {
  background-color: #F79321;
  color: #fff;
}

div.flex-blue button {
  margin-top: 15px;
  width: 60%;
  margin-left: 20%;
}

.align-digits {
  position: relative;
  left: -20px;
}

.bottom-header button {
  width: 180px;
  height: 40px;
  border-radius: 7px;
}

div.small-div span {
  color: #197DC2;
  position: relative;
  top: -20px;
  font-weight: 400;
}

div.container-fluid button.white-btn {
  background-color: #fff;
  width: 15%;
  margin-left: 42.5%;
  margin-bottom: 30px;
}

.set-position {
  width: 2%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -30px;
}

div.after-image h6 {
  color: #898989;
  font-weight: 300;
  letter-spacing: 0.5px;
}

div.container-fluid button.blue-btn {
  color: #197DC2;
  font-size: 15px;
  border: 1px solid #197DC2;
  margin-bottom: 50px;
}

div.overlay {
  background-color: rgba(0,0,0,0.2);
  height: 1000px;
}

div.form-box label {
  font-weight: 400;
}

div.show-error {
  color: red;
  display: none;
  padding-bottom: 10px;
  margin-top: 0;
}

label.error {
  color: red;
}