<div class="menu">
  <h1>Employees details home page</h1>
  <ul>
    <li><%= link_to 'Create new Employee', new_engineer_path %></li>
    <li> <%= link_to 'Employees Listing', engineers_path %></li>
    <li><%= link_to 'Developers', developers_path %></li>
  </ul>
</div>