<div class="menu">
  <h1>Listing Teams</h1>
  <table>
    <tr>
      <th>Team Name</th>
      <th>Team Id</th>
    </tr>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.team_name %></td>
        
        <td><%= link_to 'Show Team Players', team_players_list_path(team)  %></td>
        
    <% end %>
  </table>
</div>